* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 40px 40px 0px 130px;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    gap: 80px;

}

.contained{
    max-width: 600px;
    align-items: center;
}
.ass-contained {
    
    color: #272727;
     font-size: 70px; 
     margin-top: 10px;
     margin-bottom: 20px;
   
}
.discription {
    color: rgba(19, 18, 18, 0.6);
    font-size: 26px;
    margin-bottom: 20px;
  
}
.image{
    width: 635px;
    height: 800px;
}